<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Showcase Components</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="../public/css/bootstrap.min.css"  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    --><link rel="stylesheet" href="../public/styles/style.css"/>
</head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h1 class="text-center display-4 my-4">
                    Fun Glasses
                </h1>
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Map</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Post</a>
                    </li>
                    <li class="nav-item right">
                      <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Log in</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div>

    </div>
    
    <script src="../public/js/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous" integrity=""></script>
    <script>
    $('input[type=file]').change(function () {
        document.getElementsByClassName('custom-file-label')[0].innerHTML = this.files[0].name;
        console.log(this.files[0].name)
    })
    </script>
    </body>
</html>